  # GoCD Pipeline for building Znuny 6.15 LTS with additional packages
#
# This pipeline defines the process for fetching the Znuny source code,
# integrating custom packages, and building the application.

# Defines the format version of this file.
format_version: 10

environments:
  build-env:
    pipelines:
      - znuny-build-pipeline
      - znuny-rel1.1-pipeline
      - znuny-rel2.0-pipeline
    agents:
      - 0b27be5b-bae0-4e63-ba34-ea80929a1cba
# Defines the pipeline group.
pipelines:
  znuny-build-pipeline:
    group: pipeline-as-code-group
    label_template: "${COUNT}"

    # Defines the materials (source code repositories) for this pipeline.
    materials:
      znuny-source:
        # Git repository for LSMP
        git: ssh://git@bitbucket.mot-solutions.com:7999/msstlite/msst-lite-znuny.git
        branch: master
        destination: znuny-build
        shallow_clone: true

    # Defines the stages of the pipeline.
    stages:
      - build:
          # This stage builds the Znuny application.
          clean_workspace: true
          jobs:
            build-and-package:
              # This job compiles the code and packages the application.
              timeout: 0
              artifacts:
                - build:
                    source: "**/*.opm"
                    destination: "pkg"
              tasks:
                # Task 1: Check for required build tools
                - exec:
                    command: "bash"
                    arguments:
                      - "-c"
                      - |
                        echo "Checking for required build tools..."
                        perl -v

                # Task 2: Install Znuny dependencies
                - exec:
                    # Install Apache and other system packages
                    command: "/bin/sh"
                    arguments:
                      - "-c"
                      - |
                        ./znuny-build/gocd-build-application.sh /tmp/znuny-build-dir znuny-build
  znuny-rel1.1-pipeline:
    group: pipeline-as-code-group
    label_template: "znuny-rel1.1-${COUNT}"

    # Defines the materials (source code repositories) for this pipeline.
    materials:
      znuny-source:
        # Git repository for LSMP
        git: ssh://git@bitbucket.mot-solutions.com:7999/msstlite/msst-lite-znuny.git
        branch: R1.1
        destination: znuny-1.1-build
        shallow_clone: true

    # Defines the stages of the pipeline.
    stages:
      - build:
          # This stage builds the Znuny application.
          clean_workspace: true
          jobs:
            build-and-package:
              # This job compiles the code and packages the application.
              timeout: 0
              artifacts:
                - build:
                    source: "**/*.opm"
                    destination: "pkg"
              tasks:
                # Task 1: Check for required build tools
                - exec:
                    command: "bash"
                    arguments:
                      - "-c"
                      - |
                        echo "Checking for required build tools..."
                        perl -v

                # Task 2: Install Znuny dependencies
                - exec:
                    # Install Apache and other system packages
                    command: "/bin/sh"
                    arguments:
                      - "-c"
                      - |
                        ./znuny-1.1-build/gocd-build-application.sh /tmp/znuny-1.1-build-dir znuny-1.1-build
  znuny-rel2.0-pipeline:
    group: pipeline-as-code-group
    label_template: "znuny-rel2.0-${COUNT}"

    # Defines the materials (source code repositories) for this pipeline.
    materials:
      znuny-source:
        # Git repository for LSMP
        git: ssh://git@bitbucket.mot-solutions.com:7999/msstlite/msst-lite-znuny.git
        branch: R2.0
        destination: znuny-2.0-build
        shallow_clone: true

    # Defines the stages of the pipeline.
    stages:
      - build:
          # This stage builds the Znuny application.
          clean_workspace: true
          jobs:
            build-and-package:
              # This job compiles the code and packages the application.
              timeout: 0
              artifacts:
                - build:
                    source: "**/*.opm"
                    destination: "pkg"
              tasks:
                # Task 1: Check for required build tools
                - exec:
                    command: "bash"
                    arguments:
                      - "-c"
                      - |
                        echo "Checking for required build tools..."
                        perl -v

                # Task 2: Install Znuny dependencies
                - exec:
                    # Install Apache and other system packages
                    command: "/bin/sh"
                    arguments:
                      - "-c"
                      - |
                        ./znuny-2.0-build/gocd-build-application.sh /tmp/znuny-2.0-build-dir znuny-2.0-build